.App {
  text-align: center;
  background-color: #ffffff;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 20vh;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .cube{
  background-image: url("./compenents/backgammon.png");
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  width: 100%;
  position: absolute;
} */
.cube-main{
  display: flex;
  align-items: center;
  justify-content: center;
  width:400px;
  height:400px;
  position: relative;
  margin: 0 auto;

}

